<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="openMenu()">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO -->
            <a [routerLink]="['/']" class="navbar-brand">Marché des compétences</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/']" class="smoothScroll">Acceuil</a></li>
                <li><a [routerLink]="['/profil']" class="smoothScroll" *ngIf="currentUser">Profile</a></li>
                <li class="active"><a [routerLink]="['/projet']" class="smoothScroll" *ngIf="currentUser">Projet</a>
                </li>
                <li><a [routerLink]="['/projetlist']" class="smoothScroll" *ngIf="currentUser">Suivi</a></li>
                <li><a [routerLink]="['/help']" class="smoothScroll">Aide</a></li>
                <li><a [routerLink]="['/login']" class="smoothScroll" *ngIf="!currentUser">Se connecter</a></li>
                <li><a [routerLink]="['/register']" class="smoothScroll" *ngIf="!currentUser">S'enregistrer</a></li>
                <li><a (click)="logout()" class="smoothScroll" *ngIf="currentUser">Se déconnecter</a></li>
            </ul>
        </div>

    </div>
</div>



<section class="video-step">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-sm-12 col-md-12 text-center">
                <div class="page-title">
                    <h1><span style="color:purple;"> oooooooooooo </span><span style="color:red;">Création d'un
                            projet</span><span style="color:purple;"> oooooooooooo </span></h1>
                    <alert></alert>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cms-main">
    <div class="container">
        <div class="row">
            <div class="register">
                <div class="row">
                    <div fxLayout="column">
                        <form class="inq-form" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                            [formGroup]="form">

                            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                                <mat-form-field class="col-md-6 col-xs-10">
                                    <input matInput placeholder="Nom du projet" formControlName="name" required>
                                    <mat-error *ngIf="formErrors.name.required">
                                        Le nom est obligatoire !
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                                <mat-form-field class="col-md-6 col-xs-10">
                                    <textarea matInput placeholder="Description" formControlName="description"
                                        required></textarea>
                                    <mat-error *ngIf="form.get('description').hasError('required')">
                                        La description est obligatoire !
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                                <mat-form-field class="col-md-6 col-xs-10">
                                    <input matInput [matDatepicker]="startdate" [min]="today"
                                        placeholder="Date de début" formControlName="startdate" required readonly>
                                    <mat-error *ngIf="formErrors.startdate.required">
                                        La date de début est obligatoire !
                                    </mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                                    <mat-datepicker #startdate></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                                <mat-form-field class="col-md-6 col-xs-10">
                                    <input matInput [matDatepicker]="enddate" [min]="form.controls.startdate.value"
                                        placeholder="Date de fin" formControlName="enddate" required readonly>
                                    <mat-error *ngIf="formErrors.enddate.required">
                                        La date de fin est obligatoire !
                                    </mat-error>
                                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                                    <mat-datepicker #enddate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100 0 auto">
                                <mat-accordion formArrayName="skillset" class="col-md-6 col-xs-10">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <strong>Compétences nécessaires</strong>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div [formGroupName]="i"
                                            *ngFor="let skill of form.controls.skillset.controls, let i= index"
                                            [attr.data-index]="i">
                                            <!-- <mat-form-field class="col-xs-5">
                                                <input matInput formControlName="skillname"
                                                    placeholder="Nom de la compétence" required>
                                            </mat-form-field> -->

                                            <mat-form-field class="col-xs-5">
                                                <mat-select placeholder="Compétences disponibles"
                                                    formControlName="skillname" required>
                                                    <mat-option *ngFor="let skill of skillchoice"
                                                        [value]="skill.bskillname">
                                                        {{skill.bskillname}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field>
                                                <input matInput formControlName="level" placeholder="Niveau de 1 à 5"
                                                    required>
                                                <mat-error
                                                    *ngIf="(form.controls['skillset']).controls[i].get('level').hasError('pattern')">
                                                    Entier entre 1 et 5 uniquement !
                                                </mat-error>
                                            </mat-form-field>

                                            <button mat-icon-button (click)="deleteSkill(i)">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </div>
                                        <button mat-button (click)="addSkill()">
                                            <mat-icon>add_circle_outline</mat-icon>
                                        </button>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                            <!-- <div class="button-row text-center" fxFlex="100">
                                <button class="add-back-btn text-right btn-submit" mat-raised-button color="black"
                                    (click)="onSubmit()">Vérification</button>
                            </div> -->
                            <br>
                            <div *ngIf="coinnumber > 0" class="button-row text-center" fxFlex="100">
                                <div *ngIf="skillok === '2'" class="button-row text-center" fxFlex="100">
                                    <button mat-raised-button color="warn" (click)="reset3()">Validation</button>
                                    <h4 style="color:red;">Pas assez de compétences disponibles, recliquez sur le bouton
                                        pour recommencer</h4>
                                </div>

                                <div *ngIf="skillok === '3'" class="button-row text-center" fxFlex="100">
                                    <button mat-raised-button color="primary"
                                        (click)="checkifskillspresent()">Validation</button>
                                </div>

                                <div *ngIf="skillok === '1'" class="button-row text-center" fxFlex="100">
                                    <button mat-raised-button color="accent" (click)="onSubmit()">Validation</button>
                                    <h4 style="color:blue;">Les compétences sont disponibles, recliquez sur le bouton
                                        pour valider</h4>
                                </div>
                            </div>
                            <div *ngIf="coinnumber === 0" class="button-row text-center" fxFlex="100">
                                <h3 style="color:red;"><b> Vous n'avez plus d'argent virtuel, participez à des projets
                                        pour
                                        récupérer des points.</b></h3>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>